html {
    background-color: #ebe8e8;
    font-family: sans-serif;
}


body {
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 10px 40px rgba(0, 0, 0, 0.3);
    padding: 10px;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

legend {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.3em;
}

a{
    text-decoration: none;
}

fieldset a{
    margin: 15px 0 0 0;
    width: 80%;
}

.img-circulo{
    margin-top: 20px;
}

.div__input {
    margin: 10px;
    padding: 10px;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 12px 15px;
    width: 80%;
    /*pegue 50% da largura do pai e subtraia 20px para desconsiderar o padding e margin da div*/
    gap: 10px;

    box-sizing: border-box;
    /*faz o padding entrar dentro do calculo do width, nao ser somado depois (fazendo a div ficar maior)*/
}

.div__input img {
    width: 40px;
    height: 40px;
    border-radius: 0;
}

.div__input input {
    border: none;
    width: 80%;
    font-size: 1.1em;

}


.btn {
    border-radius: 10px;
    font-weight: bold;
    background-color: #2464c5;
    color: white;
    border: none;
    width: 80%;
    height: 6vh;
    padding: 10px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.2em;
}


::placeholder {
    color: rgba(0, 0, 0, .5);
}

input:focus {
    outline: none;
}